:root {
  --master-text-color: #212121;
  --slave-text-color: #757575;
  --accent-site-color: #2196f3;
  --pure-white-color: #ffffff;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--master-text-color);
  background-color: var(--pure-white-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid #2196f3; */
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-site-color);
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-link-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* .header-link-item {не задіяний} */

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

/* .header-contacts-item {не задіяний} */

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.half-logo {
  color: var(--accent-site-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--master-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: var(--accent-site-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--slave-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-section {
  /* background-color: #2f303a; */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-container {
  content: '';
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--pure-white-color);
  max-width: 696px;
  margin: 0 auto;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--pure-white-color);
  background-color: var(--accent-site-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-top: 30px;
}

.hero-button:active {
  background-color: #188ce8;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  /* Чи можна використовувати бордер 0? */
  border: 0px solid transparent;
  border-radius: 4px;
}

.benefit-section {
  padding-bottom: 0;
}

.benefit-list {
  display: flex;
  gap: 30px;
}

.benefit-item {
  width: calc((100% - 90px) / 4);
}

.benefit-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefit-alt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--slave-text-color);
}

/* .process-section {не задіяний} */

.process-list {
  display: flex;
  gap: 30px;
}

.process-item {
  width: calc((100% - 60px) / 3);
}

.process-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.process-title,
.member-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.member-section {
  background-color: #f5f4fa;
}

.member-list {
  display: flex;
  gap: 30px;
}

.member-item {
  background-color: var(--pure-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.member-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.member-container {
  padding: 30px 0;
}

.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.member-alt {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--slave-text-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--pure-white-color);
  text-decoration: none;
}

.address {
  margin-top: 20px;
}

/* .address-list {не задіяний} */

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--pure-white-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* .filter-section {не задіяний} */

.filter-button-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

/* .filter-button-item {не задіяний} */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--master-text-color);
  background-color: #f5f4fa;
  min-width: 73px;
  padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--pure-white-color);
  background-color: var(--accent-site-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  background-color: var(--pure-white-color);
  width: calc((100% - 60px) / 3);
}

.project-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-container {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 19px 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--master-text-color);
  margin-bottom: 4px;
}

.project-alt {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--slave-text-color);
}
